<!DOCTYPE html>
<html>
<head>
    <title>用户登录页面</title>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>

    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>

</head>
<body>

<div class="main">
    <h1>登录注册</h1>
    <div class="w3_login">
        <div class="w3_login_module">
            <div class="module form-module">
                <div class="toggle">
                    <i class="fa fa-times fa-pencil"></i>
                </div>
                <div class="form">
                    <h2>登录账号</h2>
                    <form  method="post" id="loginForm">
                        <input type="text" name="username" placeholder="用户名" />
                        <input type="password" name="password" placeholder="密码" required="required" />
                        <input type="password" name="repassword" placeholder="确认密码" required="required"/>
                        <input type="button" id="login" value="登录"/>
                    </form>
                </div>
                <div class="form">
                    <h2>创建账号</h2>
                    <form  method="post" id="registerForm" >
                        <input type="text" name="username" placeholder="用户名" />
                        <!--<input type="password" name="Password" placeholder="密码" required=" " />-->
                        <!--<input type="email" name="Email" placeholder="Email" required=" " />-->
                        <input type="text" name="mobile" placeholder="电话" />
                        <input type="button" id="register" value="注册"/>
                        <input type="reset" value="重置"/>
                    </form>
                </div>
                <div class="cta"><a href="#">忘记密码?</a></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$('.toggle').click(function(){
	$(this).children('i').toggleClass('fa-pencil');
	$('.form').animate({height: "toggle",'padding-top': 'toggle','padding-bottom': 'toggle',opacity: "toggle"}, "slow");
});
<!--登录-->
$('#login').click(function(){
 var password=$('password').text();
  var repassword=$('repassword').text();


 var data=$('#loginForm').serialize();
            $.ajax({
					type: "post",
					url: "/login",
					async: false,
					dataType: "json",
					data:data,
					success: function(result) {
					if(result.code==0){
					alert("没有该用户，请先注册账号！");
					}else if(result.code==1){
					alert(result.message);
					}

					},
					error:function(result){


					}
				});

});
<!--注册-->

$('#register').click(function(){
 var data=$('#registerForm').serialize();
            $.ajax({
					type: "post",
					url: "/addUser",
					async: false,
					dataType: "json",
					data:data,
					success: function(result) {
					    alert(result.message);
					}
				});
});



</script>
<div style="text-align:center;">
    <p>更多源码：<a href="index.html">源码之家</a></p>
</div>
</body>
</html>